h1{
	color: white;
}
.hero-section {
	height: 65vh;
	background-image: url("../img/04_07_2022_Charles_Leclerc_apertura.jpg");
	background-size: cover;
	background-repeat: no-repeat;


display: flex;
justify-content: center;
align-items: center;

}

.hero-section h1 {
	text-align: center;
	font-size: 2em;
}


h2 {
  font-weight: bold;
  font-size: 2.2em;
}

h3 {
  font-weight: bold;
  font-size: 2.2em;
}

h4 {
  font-weight: bold;
  font-size: 2.2em;
}

h5 {
  font-weight: bold;
  font-size: 2.2em;
}

h6 {
  font-weight: bold;
  font-size: 2.2em;
}
.row{
	padding-top: 2em;
}